
@media (max-width: 900px) {
  
  .navbar{
    position: sticky;
  }
  
  
  .t1{
    font-size: 25px;
  }
  .t2{
    font-size: 45px;
  }
  .t3{
    font-size: 28px;
  }
  .t4{
    font-size: 13px;
  }
  
}

